@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-size: calc(14 / 16 * 1rem);
}

html,
body,
#svelte {
	height: 100%;
}

body {
	@apply font-light;
}

a {
	@apply underline text-indigo-500;
}

a:visited {
	@apply text-indigo-600;
}
